./bin/Debug/net9.0/*
./bin/*
.editorconfig
./obj/*
output.json
bin/Debug/net9.0/fractal
bin/Debug/net9.0/fractal.deps.json
bin/Debug/net9.0/fractal.dll
bin/Debug/net9.0/fractal.pdb
bin/Debug/net9.0/fractal.runtimeconfig.json
bin/Debug/net9.0/sly.dll
bin/Debug/net9.0/System.Collections.Immutable.dll
bin/Debug/net9.0/System.Text.Json.dll
bin/*
obj/fractal.csproj.nuget.dgspec.json
obj/fractal.csproj.nuget.g.props
obj/fractal.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/fractal.AssemblyInfo.cs
obj/Debug/net9.0/fractal.AssemblyInfoInputs.cache
obj/Debug/net9.0/fractal.assets.cache
obj/Debug/net9.0/fractal.csproj.AssemblyReference.cache
obj/Debug/net9.0/fractal.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/fractal.csproj.FileListAbsolute.txt
obj/Debug/net9.0/fractal.csproj.Up2Date
obj/Debug/net9.0/fractal.dll
obj/Debug/net9.0/fractal.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/fractal.genruntimeconfig.cache
obj/Debug/net9.0/fractal.GlobalUsings.g.cs
obj/Debug/net9.0/fractal.pdb
obj/Debug/net9.0/fractal.sourcelink.json
obj/Debug/net9.0/ref/fractal.dll
obj/Debug/net9.0/refint/fractal.dll
src/ExpressionParser.cs
